/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.gradientalgebra {
    background-color: rgba(232, 152, 149, 0.8);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZDk1MzRmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0.2, rgb(217, 83, 79)),color-stop(1, rgba(255, 255, 255, 0.5)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(right,rgb(217, 83, 79) 20%,rgba(255, 255, 255, 0.5) 100%);
    /* IE10+ */
    background-image: linear-gradient(to left,rgb(217, 83, 79) 20%,rgba(255, 255, 255, 0.5) 100%);
    background-image: -ms-linear-gradient(right,rgb(217, 83, 79) 20%,rgba(255, 255, 255, 0.5) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradientalgebra {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff",endColorstr="#ffd9534f",GradientType=1);
    }
}
.gradientnumber {
    background-color: rgba(246, 206, 149, 0.8);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjBhZDRlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0.2, rgb(240, 173, 78)),color-stop(1, rgba(255, 255, 255, 0.5)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(right,rgb(240, 173, 78) 20%,rgba(255, 255, 255, 0.5) 100%);
    /* IE10+ */
    background-image: linear-gradient(to left,rgb(240, 173, 78) 20%,rgba(255, 255, 255, 0.5) 100%);
    background-image: -ms-linear-gradient(right,rgb(240, 173, 78) 20%,rgba(255, 255, 255, 0.5) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradientnumber {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff",endColorstr="#fff0ad4e",GradientType=1);
    }
}
.gradientssm {
    background-color: rgba(157, 212, 157, 0.8);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNWNiODVjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0.2, rgb(92, 184, 92)),color-stop(1, rgba(255, 255, 255, 0.5)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(right,rgb(92, 184, 92) 20%,rgba(255, 255, 255, 0.5) 100%);
    /* IE10+ */
    background-image: linear-gradient(to left,rgb(92, 184, 92) 20%,rgba(255, 255, 255, 0.5) 100%);
    background-image: -ms-linear-gradient(right,rgb(92, 184, 92) 20%,rgba(255, 255, 255, 0.5) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradientssm {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff",endColorstr="#ff5cb85c",GradientType=1);
    }
}

.gradientdata {
    background-color: rgba(133, 175, 212, 0.8);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMzM3YWI3IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4yIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0.2, rgb(51, 122, 183)),color-stop(1, rgba(255, 255, 255, 0.5)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(right,rgb(51, 122, 183) 20%,rgba(255, 255, 255, 0.5) 100%);
    /* IE10+ */
    background-image: linear-gradient(to left,rgb(51, 122, 183) 20%,rgba(255, 255, 255, 0.5) 100%);
    background-image: -ms-linear-gradient(right,rgb(51, 122, 183) 20%,rgba(255, 255, 255, 0.5) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradientdata {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff",endColorstr="#ff337ab7",GradientType=1);
    }
}

.borderless td {
    border: none;
}

.progress {
  margin-bottom: 0px;
}
